<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <%- include('./header.ejs') %>

    <div class="content">
        <h2>Create An Account</h2>
        <% if (locals.errors) {%>
            <ul>
              <% errors.forEach(function(error) { %>
                <li><%= error.msg %></li>
              <% }); %>
            </ul>
          <% } %>
        <form action="" method="POST">
            <div class="form-containers">
                <input id="firstName" name="firstName" type="text" placeholder="First Name" />
            </div>
            <div class="form-containers">
                <input id="lastName" name="lastName" type="text" placeholder="Last Name" />
            </div>
            <div class="form-containers">
                <input id="username" name="username" placeholder="username" type="text" />
            </div>

            <div class="form-containers">
                <input id="password" name="password" type="password" placeholder="password" />
            </div>


            <button>Sign Up</button>
        </form>

    </div>


</body>
</html>
