<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <h1>MyDiary</h1>
        <div class="right-buttons">
            <p>Welcome <%= user.username %></p>
            <a href="/memberForm">Join club</a>
            <a href="/log-out">Become admin</a>
            <a href="/log-out">Log out</a>

        </div>
    </header>
    <div class="content">
        <% if (user.membership_status == 'active') {%>

            <p>You are an official Member</p>
            <a href="/message/create">Create Message</a>
        <% } else { %>
            <%- include('./messages.ejs') %>
            <p>this is the content</p>
            <a href="/message/create">Create Message</a>
        <%}%>
    </div>
</body>
</html>
